@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(9, 8, 14);
}

main{
    background-color: rgb(234, 231, 250);
    max-width: 1000px;
    min-width: 600px;
    margin: auto;
    padding: 15px;

}