@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: radial-gradient(rgb(14, 12, 26), rgb(21, 19, 29));
    font-family: Cambria, Times, 'Times New Roman', serif;
}

main{
    background-color: rgb(229, 226, 252);
    max-width: 600px;
    min-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 9px;
}

main h1{
    text-align: center;
    padding: 15px;
    font-size: 2.3em;
    color: rgb(50, 40, 114);
}

main h2{
    padding: 8px 0px;
    color: rgb(65, 54, 138);
}

main p{
    text-align: justify;
    text-indent: 25px;
    padding: 5px;
}

main strong{
    color: rgb(50, 40, 114);
}
